<body id="page-top">
  <header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">Te ajudamos nos momentos mais difíceis</div>
    </div>
  </div>
  </header>
</body>
